<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
  <add key="BrowserType" value="Chrome"/>
    <add key="Username" value="User"/>
  <add key="Password" value="Pass"/>
    <add key="SIT" value="https://app-v2-staging.buildxact.com"/>
  <add key="AccCreation" value="https://stage.buildxact.com"/>
  <add key="AccActivation" value="https://app.buildxact.com/#/activate?u=fukhan389@hotmail.com&amp;t=a2173ecb-bb7e-4e09-9472-760784b83b02"/>

  <add key="AccLogin" value="https://app.buildxact.com/#/login"/>


</appSettings>
</configuration>